<div class="boutons-container">
    <a href="{% url 'liste_actifs_entite' %}"><button>👨‍💼 Actifs par entité</button></a>
    <a href="{% url 'liste_decedes' %}"><button>⚰️ Décédés</button></a>
    <a href="{% url 'liste_retraites' %}"><button>👴 Retraités</button></a>
    <a href="{% url 'liste_demis' %}"><button>📤 Démissionnaires</button></a>
    <a href="{% url 'liste_detaches' %}"><button>✈️ Détachés</button></a>
    <a href="{% url 'liste_disponibilites' %}"><button>🕒 Disponibilités</button></a>
    <a href="{% url 'liste_licencies' %}"><button>❌ Licenciés</button></a>
    <a href="{% url 'liste_responsables' %}"><button>🧑‍💼 Responsables</button></a>
    <a href="{% url 'liste_responsables_coordonnateurs' %}"><button>🧑‍💼 Resp./Coordonnateurs</button></a>
    <a href="{% url 'liste_cadres_direction_pdf' %}"><button>📄 Cadres Direction</button></a>
    <a href="{% url 'liste_controleurs' %}"><button>📊 Contrôleurs</button></a>
</div>
