{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Connexion</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
  <div class="login-container">
    <img src="{% static 'images/logo_cnss.png' %}" alt="Logo CNSS" class="logo">
    <div class="logo-text">Caisse Nationale de Sécurité Sociale</div>

    {% if form.errors %}
      <div class="error">Nom d'utilisateur ou mot de passe incorrect</div>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      {{ form.username.label_tag }}
      {% render_field form.username class="form-control" placeholder="Nom d’utilisateur" %}

      {{ form.password.label_tag }}
      {% render_field form.password class="form-control" placeholder="Mot de passe" %}

      <input type="submit" value="Connexion">
    </form>

    <div class="admin-link">
      {% if user.is_authenticated and user.is_superuser %}
        <a href="/admin/" style="color: purple;">Accéder à l'interface Admin</a>
      {% endif %}
    </div>
  </div>
</body>
</html>
